<html>
    <head>
        <script>
        // https://stackoverflow.com/questions/22087076/how-to-make-a-simple-image-upload-using-javascript-html
           function previewFile(){
               var preview = document.getElementById('imgPreview'); //selects the query named img
               var file    = document.querySelector('input[type=file]').files[0]; //sames as here
               var reader  = new FileReader();
        
               reader.onloadend = function () {
                   preview.src = reader.result;
               }
        
               if (file) {
                   reader.readAsDataURL(file); //reads the data as a URL
               } else {
                   preview.src = "";
               }
          }
        </script>        
    </head>
    <body>
        <!-- <input type="file" onchange="previewFile()"><br>
        <img id="imgPreview" src="" height="200" alt="Image preview...">-->
        <table id="frmHouse">
        	<tr>
        		<td>
                    <input type="file" onchange="previewFile()"><br>
        			<img class="icso" id="imgPreview" width="120px" src="cliparthouse.jpg" alt="Image preview...">
        		</td>   
        		<td>
        			<div>
        				Number: <br><input class="w490" id="frmNumber" placeholder="number">        
        			</div>
        			<div>
        				Address:<br><textarea id="frmAddress" class="w490">             
        				</textarea>
        			</div>          
        		</td>
        	<tr>
        	<tr>
        		<td>
        			<input id="btn-addcomment" 
        						 type="button" 
        						 class="tac w200 h40 green mt10 br100" 
        						 value="Save and add" />
        		</td>      
        	</tr>
        </table>          
    </body>
</html>